.idea
.vscode
__pycache__
.pyc
.ipynb_checkpoints/
docs/_build/
tests/output/

dist/
db/

notebooks/output/*json
notebooks/output/*tsv
notebooks/input/go.db
notebooks/api-key.txt

.template.db
.venv
.tox/
.coverage
.DS_Store
