[tool.poetry]
name = "prefixmaps"
version = "0.1.0"
description = ""
authors = ["cmungall <cjm@berkeleybop.org>"]

[tool.poetry.dependencies]
python = "^3.9"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
bioregistry = "^0.5.54"
linkml = "^1.3.1"
curies = "^0.2.0"
coverage = "^6.4.4"

[tool.poetry.extras]
gilda = ["gilda"]

[tool.black]
line-length = 100
target-version = ["py39", "py310"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
slurp-prefixmaps = "prefixmaps.ingest.etl_runner:cli"

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
reverse_relative = true